<app-navigation></app-navigation>
<main role="main" class="container">
  <div class="jumbotron">
    <h1>Lazy Module</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
    <a class="btn btn-lg btn-primary" href="http://jpleoleo.com" role="button">JPLEOLEO &raquo;</a>
  </div>
</main>